/*<style>*/

:root {
    --night: "false";
}

a[disabled] {
    pointer-events: none;
}

img {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.7));
    opacity: 1;
}

img.night {
    opacity: 0.7;
}

.projimg[hovered="false"] {
    filter: none;
}

.projimg[hovered="true"] {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.7));
}

.bline {
    height: 10px;
    border: solid 0px;
    background-color: #8db6f3;
    border-radius: 20px;
}

.link {
    margin: auto;
    height: auto;
    position: relative;
    top: 10;
    z-index: 2;
    color: rgb(149, 177, 222);
    filter: drop-shadow(0px 0px 4px #596a99);
}

.link.night {
    color: rgb(149, 177, 222);
    filter: drop-shadow(0px 0px 4px #343985);
}

.link:hover {
    color: rgb(190, 220, 255)
}

.btopic {
    position: relative;
    margin: auto;
    height: auto;
    top: 10;
    z-index: 8;
    font-size: 2em;
    filter: drop-shadow(0px 0px 4px #596a99);
    color: #8db6f3;
    height: 2em;
}

.btopic.selected {
    color: #909bc0
}

.btopic.night {
    filter: drop-shadow(0px 0px 4px #343985);
    color: rgb(149, 177, 222)
}

.btopic.night.selected {
    color: #6577ad
}

.btopic:hover {
    color: rgb(190, 220, 255)
}

.bmenu {
    /* visibility: hidden; */
    position: absolute;
    right: 0px;
    left: 750px;
    float: right;
    animation-timing-function: ease-out;
    z-index: 11;
    filter: drop-shadow(0px 0px 4px #596a99);
    overflow: hidden;
}

.burger {
    position: relative;
    z-index: 11;
    filter: drop-shadow(0px 0px 4px #596a99)
}

.bmenu.night {
    filter: drop-shadow(0px 0px 4px #343985);
}

a.linkpages {
    float: right;
    margin-left: -400px;
    color: #6880cb;
    text-align: right;
    z-index: 11;
}

h3.linkpages {
    z-index: 11;
    float: right;
    text-align: right;
    font-size: 1.5em;
}

.bholder {
    position: absolute;
    left: 575px;
    width: 300px;
    height: 0px;
    float: right;
    overflow: hidden;
}

.title {
    font-family: 'Signika', serif;
    font-size: 48;
    color: #00d8ff;
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000, 0px -1.5px 0 #000, 0px 1.5px 0 #000, -1.5px 0px 0 #000, 1.5px 0px 0 #000;
}

.title.night {
    color: #e3e3e6
}

.splitter {
    width: 600;
    height: 2;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: rgb(20, 10, 50);
}

.linktop {
    width: 600;
    height: 3;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(36, 84, 162);
    border-radius: 1.5px;
    width: inherit;
}

.linktop.night {
    background-color: rgb(149, 177, 222);
}

.linkbottom {
    width: 600;
    height: 3;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(36, 84, 162);
    border-radius: 3px;
    width: inherit;
}

.linkbottom.night {
    background-color: rgb(149, 177, 222);
}

#universal {
    scroll-behavior: smooth;
}

.section {
    background: linear-gradient(rgb(124, 182, 229), rgb(114, 142, 224));
    border-radius: 15px;
    border: 2px solid rgba(59, 99, 163, 0.5);
    box-shadow: 0 0 8px 0px #22222c;
}

.section.night {
    background: linear-gradient(rgb(56, 56, 78), rgb(44, 46, 64));
    border-radius: 15px;
    border: 2px solid rgba(3, 9, 52, 0.5);
    box-shadow: 0 0 8px 0px #22222c;
}

.bg {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.basictext {
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.linkpages {
    text-decoration: none;
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18;
    text-align: center;
    margin: auto;
    display: flex;
}

.outlinetext {
    color: rgb(244, 242, 255);
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000, 0px -1.5px 0 #000, 0px 1.5px 0 #000, -1.5px 0px 0 #000, 1.5px 0px 0 #000
}

.outlinetext {
    color: rgb(234, 232, 248)
}

.outlinedtext {
    text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000, 0px -1.5px 0 #000, 0px 1.5px 0 #000, -1.5px 0px 0 #000, 1.5px 0px 0 #000;
}

.projsubtitle {
    color: rgb(234, 232, 248);
    text-shadow: -2.5px -2.5px 0 #000, 2.5px -2.5px 0 #000, -2.5px 2.5px 0 #000, 2.5px 2.5px 0 #000, 0px -2.5px 0 #000, 0px 2.5px 0 #000, -2.5px 0px 0 #000, 2.5px 0px 0 #000;
    /* text-shadow: 0px 0px -4px black; */
}

html,
body {
    scroll-behavior: smooth;
    margin: 0px;
    border: 0;
    display: block;
    /* No floating content on sides */
    height: auto;
    width: 100%;
    background: linear-gradient(rgb(47, 180, 255), rgb(164, 229, 255));
    background-repeat: no-repeat;
}

body.night {
    background: linear-gradient(rgb(22, 22, 50), rgb(15, 8, 33));
}

@keyframes frombottom {
    from {
        top: 100px;
    }
    to {
        top: 0px;
    }
}

@keyframes fb {
    from {}
    to {}
}

@keyframes fbimg {
    from {
        opacity: 1
    }
    to {
        opacity: 1
    }
}

.nightoverlay {
    /* position: absolute; */
    border: 0;
    width: 300%;
    height: inherit;
    margin: 0;
    overflow: overlay;
    z-index: 6;
    background: radial-gradient(circle at 160px 300px, rgba(10, 5, 34, 0.0) 0%, rgba(21, 19, 34, 0.7) 15%);
    opacity: 0
}

.nightoverlay.night {
    opacity: 1
}

.bgimg {
    background-image: url("assets/spacebg.png");
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    position: fixed;
}

.option {
    position: absolute;
    left: 10px;
    z-index: 7;
    text-decoration: none;
    color: rgb(36, 84, 162);
}

.option.night {
    color: rgb(149, 177, 222)
}

p {
    color: #e8eaf5;
}

p.night {
    color: #37383c;
}

h1 {
    color: #201f2a;
}

h1.night {
    color: rgb(234, 232, 248);
}

h2 {
    color: #201f2a;
}

h2.night {
    color: #e3e3e6;
}

h3 {
    color: #201f2a;
}

h3.night {
    color: #e3e3e6;
}

h4 {
    color: #201f2a;
}

h4.night {
    color: #e3e3e6
}

a {
    color: rgb(23, 92, 202);
    text-decoration: none;
}

a.night {
    color: #ebb5eb
}

:hover {
    color: rgb(200, 210, 140)
}

:focus {
    color: rgb(200, 210, 140)
}

.night:focus {
    color: rgb(190, 220, 255)
}

.night:hover {
    color: rgb(190, 220, 255)
}


/* </style> */