#f2eee6: e
- "fallable"
- "solid"
- "egg"
- "fish egg"

#ff4646: f
- "fish"
- "animal"
- "living"
- "fish head"

#ed7979:
- "fish"
- "animal"
- "living"
- "fish body"

#de9090:
- "fish"
- "animal"
- "living"
- "fish tail"


h => "fish head"
b => "fish body"
t => "fish tail"

e => "fish egg"
0 => "liquid"
s => "solid"

l => (-1, 0)
r => (1, 0)

rule: x 0.1%
* * * * *       * * * * *
* * * * *       * * * * *
* * e 0 *   =>  * * h t *
* * * * *       * * * * *
* * * * *       * * * * *

v => (0, 1)
^ => (0, -1)

rule: x 1%
* * * * *       * * * * *
* * 0 0 *       * * * * *
* * 0 0 *   =>  * * v v *
* * h t *       * * ^ ^ *
* * * * *       * * * * *
rule: x 1%
* * * * *       * * * * *
* * h t *       * * v v *
* * 0 0 *   =>  * * ^ ^ *
* * 0 0 *       * * * * *
* * * * *       * * * * *

rule: x 50%
* * * * *       * * * * *
* * * * *       * * * * *
* 0 h t *   =>  * r r (-2,0) *
* * * * *       * * * * *
* * * * *       * * * * *

rule: x 25%
* * * * *       * * * * *
* * * * *       * * * * *
* s h t *   =>  * * r l *
* * * * *       * * * * *
* * * * *       * * * * *


rule: x 0.1%
* * * * *       * * * * *
* * * * *       * * * * *
* 0 h t *   =>  * h b * *
* * * * *       * * * * *
* * * * *       * * * * *

rule: x 50%
* * * * *       * * * * *
* * * * *       * * * * *
0 h b t *   =>  r r r (-3,0) *
* * * * *       * * * * *
* * * * *       * * * * *

rule: x 25%
* * * * *       * * * * *
* * * * *       * * * * *
* s h b t   =>  * * (2,0) * (-2,0)
* * * * *       * * * * *
* * * * *       * * * * *

rule: xy 10%
0 0 0 * *       * * * * *
0 0 0 * *       * (1, 1) * * *
* * h b t   =>  * * r r (-3, -1)
* * * * *       * * * * *
* * * * *       * * * * *

rule: xy
0 0 * * *       * * * * *
0 h * * *       r (1, 1) * * *
* * b t *   =>  * * r (-3, -1) *
* * * * *       * * * * *
* * * * *       * * * * *

rule: xy
0 0 0 * *       * * * * *
0 h b * *       r r (1, 1) * * *
* * * t *   =>  * * * (-3, -1) *
* * * * *       * * * * *
* * * * *       * * * * *

rule: xy 25%
* * * * *       * * * * *
s h * * *       * (2, 1) * * *
* * b t *   =>  * * * (-2, -1) *
* * * * *       * * * * *
* * * * *       * * * * *

rule: xy 25%
* * * * *       * * * * *
s h b * *       * (2, 1) * * *
* * * t *   =>  * * * (-2, -1) *
* * * * *       * * * * *
* * * * *       * * * * *