#e9ecf2:
- "cloud"
- "dry cloud"
- "passthrough"

#808296:
- "cloud"
- "rain cloud"
- "passthrough"

c => "dry cloud"
r => "rain cloud"
w => "water"
0 => "passthrough"
^ => (0, -1)
v => (0, 1)
> => (1, 0)
< => (-1, 0)

rule: 0.1%
* * * * *       * * * * *
* * 0 * *       * * * * *
* * w * *   =>  * * c * *
* * * * *       * * * * *
* * * * *       * * * * *

rule: 20%
* * * * *       * * * * *
* * 0 * *       * * * * *
* * 0 * *   =>  * * v * *
* * c * *       * * ^ * *
* * * * *       * * * * *

rule:
* * * * *       * * * * *
* * * * *       * * * * *
* * r * *   =>  * * v * *
* * c * *       * * ^ * *
* * * * *       * * * * *

rule: 0.5% x
* * * * *       * * * * *
* * * * *       * * * * *
* * c 0 *   =>  * * > < *
* * * * *       * * * * *
* * * * *       * * * * *

rule: 0.5%
* * * * *       * * * * *
* * * * *       * * * * *
* c c c *   =>  * * r * *
* c c c *       * * * * *
* * * * *       * * * * *

rule: 5%
* * * * *       * * * * *
* * 0 * *       * * * * *
* * 0 * *   =>  * * v * *
* * r * *       * * ^ * *
* * * * *       * * * * *

rule: 5% x
* * * * *       * * * * *
* * * * *       * * * * *
* * r 0 *   =>  * * > < *
* * * * *       * * * * *
* * * * *       * * * * *

rule: 0.002%
* * * * *       * * * * *
* * * * *       * * * * *
* * r * *   =>  * * w * *
* * * * *       * * * * *
* * * * *       * * * * *

rule: 1%
* * * * *       * * * * *
* * * * *       * * * * *
* r r r *   =>  * * w * *
* * r * *       * * w * *
* * * * *       * * * * *

rule:
* * * * *       * * * * *
* * * * *       * * * * *
* * w * *   =>  * * w * *
* * r * *       * * w * *
* * * * *       * * * * *