f => "fallable"
0 => "passthrough"
s => "solid"
p => "pileable"

v => (0, 1)
^ => (0, -1)
\ => (1, 1)
/ => (-1, -1)

rule:
* * * * *    * * * * *
* * * * *    * * * * *
* * f * * => * * v * *
* * 0 * *    * * ^ * *
* * * * *    * * * * *

rule: x
* * * * *    * * * * *
* * * * *    * * * * *
* * p * * => * * \ * *
* * s 0 *    * * * / *
* * * * *    * * * * *