l => "liquid"
> => (1, 0)
< => (-1, 0)

rule: x
* * * * *    * * * * *
* * * * *    * * * * *
* * l 0 * => * * > < *
* * l * *    * * * * *
* * * * *    * * * * *

rule: x
* * * * *    * * * * *
* * * * *    * * * * *
* * l 0 * => * * > < *
* * s * *    * * * * *
* * * * *    * * * * *

rule: 20%
* * * * *    * * * * *
* * * * *    * * * * *
* * f * * => * * v * *
* * l * *    * * ^ * *
* * * * *    * * * * *