#9bd7e8: a
- "air"
- "passthrough"

#f2d994: s
- "sand"
- "solid"
- "fallable"
- "pileable"

#808080: x
- "stone"
- "solid"
- "fallable"

#0080ff: w
- "water"
- "fallable"
- "pileable"
- "liquid"

f => "fallable"
0 => "passthrough"

rule:
* * * * *  * * *       * *
* * * * *  * * *       * *
* * f * * => * * (0, 1)  * *
* * 0 * *  * * (0, -1) * *
* * * * *  * * *       * *

s => "solid"
p => "pileable"

rule: x
* * * * *       * * * * *
* * * * *       * * * * *
* * p * *   =>  * * (1, 1) * *
* * s 0 *       * * * (-1, -1) *
* * * * *       * * * * *

l => "liquid"

rule: x
* * * * *       * * * * *
* * * * *       * * * * *
* * l 0 *   =>  * * (1, 0) (-1, 0) *
* * l * *       * * * * *
* * * * *       * * * * *

rule: x
* * * * *       * * * * *
* * * * *       * * * * *
* * l 0 *   =>  * * (1, 0) (-1, 0) *
* * s * *       * * * * *
* * * * *       * * * * *

rule: 20%
* * * * *  * * *       * *
* * * * *  * * *       * *
* * f * * => * * (0, 1)  * *
* * l * *  * * (0, -1) * *
* * * * *  * * *       * *